@font-face {
  font-family: 'Helvetica Neue LT';
  font-style: normal;
  // font-weight: normal;
  font-display: swap;
  src: local('Helvetica Neue LT'), url('../fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2');
}
