@import "mixins";
.main_anc{
    background-color: black;
}



.image_anc{
    border-radius: 100px;
    height: calc(100vh - 120px)!important;  
    width: auto;
    max-width: 50%!important;

    @media (max-width: 768px){
        max-width: 100%!important;
        height: auto!important;
    }
}

.content_anc{ 
    display: flex;
    gap: 20px;
    padding: 20px 10% 20px 10%;
    
    @media (max-width: 768px){
        flex-direction: column;
        gap: 0px;
    }
}


.info_anc{
    padding: 0 5%;
    flex-direction: column;
    display: flex;
    border-radius: 100px;
    background-color: #D1D3CE;
    color: #131313;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.header_anc{
    font-family: 'Helvetica Neue LT';
    font-size: 3.3rem;
    color: #A98567;
}

.subtitle_anc{
    font-family: 'Helvetica Neue LT';
}

.text_anc{
    font-size: 1.3rem;
}


.list_anc{
    display: flex;
    flex-direction: column;
    gap: 20px;}

.list_item_anc{
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
    color: #131313;
    font-weight: 600;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.products_anc{
    background-color: white;
    padding: 50px 10%;

}



.product_anc_information{
    display: flex;
    gap: 50px;
    align-items: center;
}

.product_anc_general{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.product_anc_features{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: flex-start;
}

.product-features-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-features-item{
    display: flex;
    gap: 10px;
    color: #131313;
    font-size: 1.2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.product_anc_CTA{
    @include btn(#fff, #383838, #2c2c2d);
}