@import "constants";
@import "mixins";
@import "select2";
.main_anc{
    background-color: black;
}



.image_anc{
    height: 450px!important;  
    width: auto;
    max-width: 50%!important;

    @media (max-width: 1280px){
        max-width: 100%!important;
        height: auto!important;
    }

    @media (max-width: 768px){
        max-width: 100%!important;
        height: auto!important;
    }
}

.content_anc{ 
    display: flex;
    padding: 20px 10% 100px 10%;
    justify-content: center;
    @media (max-width: 1280px){
        flex-direction: column;
    }
}


.info_anc{
    padding: 0 5%;
    flex-direction: column;
    display: flex;
    background-color: #D1D3CE;
    color: #131313;
    align-items: center;
    justify-content: center;
    gap: 60px;

    @media (max-width: 1280px){
        padding: 20px;
        gap: 20px;
    }
}

.header_anc{
    font-family: 'Helvetica Neue LT';
    font-size: 3.3rem;
    color: #A98567;
}

.subtitle_anc{
    font-family: 'Helvetica Neue LT';
    @media (max-width: 1280px){
        font-size: 1.3rem;
        text-align: center;
    }
}

.text_anc{
    font-size: 1.3rem;
}


.list_anc{
    display: flex;
    flex-direction: column;
    gap: 20px;}

.list_item_anc{
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
    color: #131313;
    font-weight: 600;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;

    @media (max-width: 1280px){
        font-size: 1rem;
    }
}


.products_anc{
    background-color: white;
    padding: 50px 10%;

}



.product_anc_information{
    display: flex;
    gap: 50px;
    align-items: center;

    @media (max-width: 1280px){
        flex-direction: column;    
    }

}

.product_anc_general{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.product_anc_features{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: flex-start;
}

.product-features-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-features-item{
    display: flex;
    gap: 10px;
    color: #131313;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;

    @media (max-width: 1280px){
        font-size: 1rem;
    }
}

.product_anc_CTA{
    @include btn(#fff, #383838, #2c2c2d);
}




.info-container {
    background-color: #fff;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: #131313;

    @media (max-width: 1280px){
        margin: -40px 0;
    }
  }

.sine-wave-container {
    position: relative;
    width: 100%;
    height: 33vh;
    overflow: hidden;

    z-index: 1;

    @media (max-width: 1280px){
        height: 100vh;
    }
}

.product-features-item__icon{
    width: 30px;
    height: 30px;

    @media (max-width: 1280px){
        width: 20px;
        height: 20px;
    }
}



.product-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: center !important;
    align-items: center !important;
}

.product-title{
    font-size: 1.5rem;
    @media (max-width: 1280px){
        font-size: 1.2rem;
    }
}