@import "constants";
@import "mixins";
@import "select2";

#main-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 5rem;
  @media (max-width: 768px) {
    width: 95%;
    margin: 0 auto 2rem;
  }

  h1 {
    text-align: center;
    padding: 4rem 0;
    font-weight: 700;
    font-size: 3.2rem;
    letter-spacing: -.05em;
    line-height: .85em;
    text-transform: uppercase;
    font-family: $titleFont;
    @media (max-width: 768px) {
      font-size: 2.25rem;
      padding: 2.8rem 0;
    }
  }

  .woocommerce form.checkout_coupon,
  .woocommerce form.login {
    border: none;
    padding: 0;
    font-size: 90%;
    margin: 2em 0 4em;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;

      .form-row {
        width: 100%;
        text-align: center;
      }
    }

    p {
      margin-bottom: 1rem;
    }
  }

  .woocommerce-form-login {
    .form-row:not(.form-row-first):not(.form-row-last) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
    }

    a {
      color: #000;
      font-size: .9rem;
      transition: color .15s ease;
      text-decoration: none;

      &:hover {
        color: #969696;
      }
    }
  }

  .form-row {
    padding: 1rem 0;
    @media (max-width: 768px) {
      padding: 0 0 1rem;
    }

    label {
      font-size: .9rem;
    }

    input.input-text,
    textarea {
      background: #f6f6f6;
      border: 1px solid #ddd;
      height: 50px;
      padding: .75rem 1rem;
    }

    .button {
      @include btn(#fff, #383838, #2c2c2d);
      height: calc(100% - 1px);
    }
  }

  #order_review_heading {
    margin-bottom: 1.5rem;
  }

  .shop_table {
    box-shadow: 0 0 10px #eee;
    font-size: .9rem;
    border-radius: 0 !important;
    border-collapse: collapse !important;

    tbody {
      tr {
        &:first-child {
          td {
            border-top: 1px solid rgba(#000, .1);
          }
        }

        td {
          border-top: none;
          padding: 0 12px;
        }
      }
    }

    .product-image {
      width: 90px;
      display: inline-block;
      padding-right: 7px;
      vertical-align: middle;
    }

    .product-title {
      display: inline-block;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .checkout-title{
    padding: 1.5rem 0;
  }
}

#customer_details {
  width: 50% !important;
  @media (max-width: 800px) {
    width: 100% !important;
  }

  .col-1,
  .col-2 {
    float: none;
    width: 100%;
  }

  .col-2 {
    display: none;
  }

  .create-account:not(.form-row) {
    margin: -1.5rem 0 2rem;
  }
}

.woocommerce ul#shipping_method li {
  &:last-child {
    margin-bottom: 0;
  }
}

.woocommerce-checkout-payment {
  border-radius: 0 !important;

  .woocommerce-privacy-policy-text {
    font-size: .8rem;
  }

  .button {
    margin-top: 2rem !important;
  }
}

#pagar-now {
  margin-top: 2rem;
  @include btn(#fff, #383838, #2c2c2d);
}

#btn-back {
  @include btn(#383838, transparent, transparent);
}

#title-result {
  padding: 1rem 0 !important;
}

.order_details {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem !important;

  li {
    margin-bottom: 1rem;
    padding: 0 !important;
    margin-left: 0 !important;
    border: none !important;
  }
}

.checkout.woocommerce-checkout {
  position: relative;
  margin-bottom: 2rem;
}

.woocommerce-form-coupon-toggle,
.woocommerce-notices-wrapper {
  width: 50%;
  @media (max-width: 800px) {
    width: 100%;
  }
}


.list-steps {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  @media (max-width: 800px) {
    margin: 1rem 0;
  }

  li {
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @media (max-width: 800px) {
      background: #AAABAD;
      height: 60px;
      justify-content: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 90%;
      color: #fff;
    }

    &.active {
      @media (max-width: 800px) {
        background: #000;
      }

      &:after {
        background: #000;
      }
    }

    span {
      display: flex;
      background: #000;
      color: #fff;
      border-radius: 100%;
      width: 1.8rem;
      height: 1.8rem;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5rem;
      position: relative;
      z-index: 2;
      @media (max-width: 800px) {
        display: none;
      }
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      position: absolute;
      top: 14px;
      background: #d2d2d2;
      @media (max-width: 800px) {
        display: none;
      }
    }
  }
}

#order_review_heading,
#billing_country_field,
#billing_district_field,
#payment,
.shipping-step {
  display: none!important;
}



.shop_table.woocommerce-checkout-review-order-table {
  position: absolute;
  top: 16.5%;
  width: 45% !important;
  right: 0;
  @media (max-width: 800px) {
    position: relative;
    width: 100% !important;
  }
}

#payment {
  width: 50%;
  @media (max-width: 800px) {
    width: 100% !important;
  }
}

label[for=billing_district2] {
  font-weight: normal;
}

#billing_province_field,
#billing_district2_field,
#billing_invoice_field {
  .select2-container {
    width: 100% !important;
  }
}

.nav-steps {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 800px) {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #fff;
    background: #000;
    display: block;
    padding: 0.8rem 1.5rem;
    font-size: .8rem;
    text-transform: uppercase;
  }

  #prev-step {
    visibility: hidden;
  }
}

.hidden {
  display: none !important;
}

.list-images {
  margin-bottom: 2rem;
  @media (max-width: 800px) {
    width: 100vw;
    margin-left: -2.5%;
  }

  picture {
    display: flex;
  }

  .shipping-active__img {
    height: 100px!important;
    width: 100%;
    max-width: 100%;
    object-fit: fill;
  }

  .shipping,
  .billing,
  .payment {
    display: none;
  }

  .active {
    display: block;
  }
}