@import "constants";
@import "mixins";
@import "select2";

#main-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 5rem;
  @media (max-width: 768px) {
    width: 95%;
    margin: 0 auto 2rem;
  }

  h1 {
    text-align: center;
    padding: 4rem 0;
    font-weight: 700;
    font-size: 3.2rem;
    letter-spacing: -.05em;
    line-height: .85em;
    text-transform: uppercase;
    font-family: $titleFont;
    @media (max-width: 768px) {
      font-size: 2.25rem;
      padding: 2.8rem 0;
    }
  }

  .woocommerce form.checkout_coupon,
  .woocommerce form.login {
    border: none;
    padding: 0;
    font-size: 90%;
    margin: 2em 0 4em;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;

      .form-row {
        width: 100%;
        text-align: center;
      }
    }

    p {
      margin-bottom: 1rem;
    }
  }


  .checkout_coupon{
    display: none;
  }

  .woocommerce-form-login {
    .form-row:not(.form-row-first):not(.form-row-last) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
    }

    a {
      color: #000;
      font-size: .9rem;
      transition: color .15s ease;
      text-decoration: none;

      &:hover {
        color: #969696;
      }
    }
  }

  .form-row {
    padding: 1rem 0;
    @media (max-width: 768px) {
      padding: 0 0 1rem;
    }

    label {
      font-size: .9rem;
    }

    input.input-text,
    textarea {
      background: #f6f6f6;
      border: 1px solid #ddd;
      height: 50px;
      padding: .75rem 1rem;
    }

    .button {
      @include btn(#fff, #383838, #2c2c2d);
      height: calc(100% - 1px);
    }
  }

  #order_review_heading {
    margin-bottom: 1.5rem;
  }

  .shop_table {
    font-size: .9rem;
    border-radius: 0 !important;
    border-collapse: collapse !important;
    margin: 0;

    thead{
      tr{
        width: 100%;
      }
      th{
        width: 100%;
      }
    }

    tbody {
      tr {
        &:first-child {
          td {
            border-top: 1px solid rgba(#000, .1);
            width: 100%;
          }
        }
        th{
          width: 100%;
        }
        td {
          border-top: none;
          padding: 0 12px;
          width: 100%;
        }
      }
    }

    tfoot{
      tr{
        width: 100%;
      }
      th{
        width: 0%;
      }
      td{
        width: 100%;
      }
    }

    .product-image {
      width: 90px;
      display: inline-block;
      padding-right: 7px;
      vertical-align: middle;
    }

    .product-title {
      display: inline-block;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .checkout-title{
    padding: 1.5rem 0;
  }
}

#customer_details {
  // width: 50% !important;
  @media (max-width: 800px) {
    width: 100% !important;
  }

  .col-1,
  .col-2 {
    float: none;
    width: 100%;
  }

  .col-2 {
    display: none;
  }

  .create-account:not(.form-row) {
    margin: -1.5rem 0 2rem;
  }
}

.woocommerce ul#shipping_method li {
  &:last-child {
    margin-bottom: 0;
  }
}

.woocommerce-checkout-payment {
  border-radius: 0 !important;

  .woocommerce-privacy-policy-text {
    font-size: .8rem;
  }

  .button {
    margin-top: 2rem !important;
  }
}

#pagar-now {
  margin-top: 2rem;
  @include btn(#fff, #383838, #2c2c2d);
}

#btn-back {
  @include btn(#383838, transparent, transparent);
}

#title-result {
  padding: 1rem 0 !important;
}

.order_details {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem !important;

  li {
    margin-bottom: 1rem;
    padding: 0 !important;
    margin-left: 0 !important;
    border: none !important;
  }
}

.checkout.woocommerce-checkout {
  position: relative;
  margin-bottom: 2rem;

  .order_review_container{
    padding: 0 1rem;
    transition: all 0.5s ease;

    .order_review__main{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      gap: 20px;
  
      .order-review__general-title{
        font-size: 1.2rem;
        font-weight: bold;
      }
  
      .order-review__toggle__btn{
        background: none;
        border: none;
        font-size: 2.5rem;
        transition: all 0.5s ease;
      }
    }

    #order_review{
      display: none;
      transition: all 0.5s ease;
    }
  }

  .hide-factura{
    display: none;
  }

}

.woocommerce-form-coupon-toggle,
.woocommerce-notices-wrapper,.checkout_additional_info {
  width: 100%;
  @media (max-width: 800px) {
    width: 100%;
  }

  .checkout_additional_info__title{
    font-size: 1.5rem ;
    font-weight: 700;
    padding: 0.4rem 0;
  }

  .checkout_additional_info__content{
    display: flex;
    flex-direction: column;
  }

  .checkout_additional_info__element{
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
  }

 .checkout_additional_info__element__btn{
  color: #000;
  text-decoration: underline;
  font-weight: 800;
  font-size: 1.2rem;
 }

}


.checkout-steps{
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem 0;
}

.checkout-steps__number{
  border-radius: 50%;
  padding: 10px; 
  background-color: #000;
  color: #fff;
}


#order_review_heading,
#billing_country_field,
#billing_district_field,
#payment,
.shipping-step {
  display: none!important;
}



.shop_table.woocommerce-checkout-review-order-table {

  #see-more{
    text-decoration: none;
  }

  .order-review__general-title{
    font-size: 1rem;
  }

  @media (max-width: 800px) {

  }
}

#payment {
  // width: 50%;
  @media (max-width: 800px) {
    // width: 100% !important;
  }
}

label[for=billing_district2] {
  font-weight: normal;
}

#billing_province_field,
#billing_district2_field,
#billing_invoice_field {
  .select2-container {
    width: 100% !important;
  }
}

.nav-steps {
  width: 40%;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0.5rem 0;
  @media (max-width: 800px) {
    width: 70%;
  }

  a {
    text-decoration: none;
    color: #fff;
    background: #000;
    display: block;
    padding: 0.8rem 1.5rem;
    font-size: .8rem;
    text-transform: uppercase;
  }

  #prev-step {
    display: none;
  }
}

.hidden {
  display: none !important;
}

.list-images {
  margin-bottom: 2rem;
  @media (max-width: 800px) {
    width: 100vw;
    margin-left: -2.5%;
  }

  picture {
    display: flex;
  }

  .shipping-active__img {
    height: 100px!important;
    width: 100%;
    max-width: 100%;
    object-fit: fill;
  }

  .shipping,
  .billing,
  .payment {
    display: none;
  }

  .active {
    display: block;
  }
}