.envios-main{
    padding: 0 10%;
}

.envios-main__title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.envios-container{
    display: flex;
    align-items: center;
}


@media (max-width:768px){
    .envios-main{
    padding: 0 20px;
    }

    .envios-container{
        flex-direction: column;
    }
}