@import "constants";
@import "mixins";
@import "~slick-carousel/slick/slick";

.envios-main{
    padding: 0 10% 3% 10%;
}

.envios-main__title{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    padding: 30px 0;
}

.envios-container{
    display: flex;
    gap:25px;
}

.envios-container__left, .envios-container__right{
    width: 50%;
}

.envios-container__left__title,.envios-container__right__title{
    font-size: 2rem;
    font-weight: 800;
    padding: 15px 0;
    text-align: center;
}

.envios-container__left__content, .envios-container__right__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.3rem;
}

.envios-container__content__more{
    color: black;
    font-weight: 700;
}

.envios-container--important{
    font-size: 1.5rem;
    font-weight: 700;
}

.envio-container--list{
    list-style-type: none;
}

.envio-container--item{
    padding: 10px 0;
}

.envios-container__back{
    @include btn(#fff, #383838, #2c2c2d);
    color: #fff !important;
    padding: 0 2.1rem !important;
}
@media (max-width:768px){
    .envios-main{
    padding: 0 20px 20px 20px;
    }

    .envios-container{
        flex-direction: column;
    }

    .envios-container__left, .envios-container__right{
        width: 100%;
    }

    .envios-container__back{
        width: 100%;
    }
    
}