@import "constants";
@import "mixins";
@import "~slick-carousel/slick/slick";

.shop-notice {
  width: 100%;
  background: #000;
  padding: .3rem .75rem .5rem;
  text-align: center;
  border-top: 1px solid #2c2c2d;

  a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
  }
}

#home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "featured featured second" "featured featured third";
  height: 64vw;
  @media (min-aspect-ratio: 5/4) {
    height: calc(100vh - 58px);
  }
  @media (max-width: 768px) {
    display: block;
    height: auto;
    padding: 20px 20px 0px 20px;
  }

  section {
    max-height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    @media (max-width: 768px) {
      height: 100vw;
    }

    &:nth-child(1) {
      grid-area: featured;
      @media (max-width: 768px) {
        height: calc(100vh - 58px);
      }

      .layer {
        top: 70%;
        left: 10%;
        width: 27vw;
        position: absolute;
        bottom: auto;
        padding: 6vw 0;
        margin: 0 7.8125vw;
        z-index: 1;
        text-align: left;

        @media (max-width: 768px) {
          left: 0;
        }

        h5 {
          font-size: 2.8125vw;
        }

        p {
          font-size: 18px;
        }
      }
    }

    &:nth-child(2) {
      grid-area: second;
    }

    &:nth-child(3) {
      grid-area: third;

      img {
        object-position: top;
      }
    }

    picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .layer {
      width: 100%;
      top: 55%;
      position: absolute;
      bottom: auto;
      margin: 3.92857rem 0 0;
      z-index: 1;
      transform: none;
      left: 0;    
      text-align: center;
      @media (max-width: 768px) {
        left: 0;
        width: 100% !important;
        padding: 1.75rem 1.25rem !important;
        margin: 0 !important;
      }

      h5 {
        font-size: 1.28571rem;
        color: #fff;
        margin-bottom: 1.42857rem;
        text-transform: uppercase;
        line-height: .85em;
        letter-spacing: -.05em;
        font-family: $titleFont;
        @media (max-width: 768px) {
          font-size: 2.25rem !important;
          margin-bottom: 1.5rem;
          text-align: center ;
        }
      }

      p {
        color: #fff;
        font-size: 14px;
        line-height: 1;
        margin-bottom: 1.42857rem;
        @media (max-width: 768px) {
          font-size: .85rem;
          text-align: center;
        }
      }

      .cta-wrapper {
        .cta {
          display: inline-block;
          @include btn(#000, #f6f6f6, #fff);
          @media (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }
  }
}

#gallery {
  display: flex;
  margin-bottom: -3px;
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 20px 20px 40px 20px;
  }

  .media {
    position: relative;

    picture {
      display: flex;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &:hover {
      .hover {
        opacity: 1;
      }
    }

    .hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 3px);
      opacity: 0;
      transition: .5s;
      z-index: 1;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    li {
      list-style: none;
      margin: 0 .25rem;

      button {
        display: block;
        width: 1.75rem;
        height: 1.75rem;
        background: #ddd;
        border-radius: 100%;
        font-size: 0;
        border: none;
        transition: .2s ease-in;
      }

      &.slick-active {
        button {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }
}

.full-width {
  width: 100%;
  margin-bottom: -3px;

  img {
    width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    padding: 20px 20px 0px 20px;
  }
}
