@import "constants";
@import "mixins";

#main-container {
  .heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;

    picture {
      display: flex;
    }

    .content {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 14px;
      max-width: 48.57143em;
      padding: 0 20px;

      h1 {
        padding-bottom: 0.71429rem;
        padding-top: 0;
        color: #fff;
        margin: 0;
        font-weight: 700;
        text-align: center;
        font-size: 2.57143rem;
        letter-spacing: -.05em;
        line-height: .85em;
        font-family: $titleFont;

        @media (min-width: 801px) {
          font-size: 3.85714rem;
        }
      }

      .description {
        display: block;
        font-size: 18px;
        line-height: 1.555;
        color: #fff;
        text-align: center;
      }
    }
  }

  .container__content {
    display: flex;
    flex-wrap: wrap;
    margin: 1.555rem auto 0;
    font-size: 14px;
    max-width: 48.57143em;
    position: relative;
    padding: 0 20px;
    @media (max-width: 799px) {
      margin-top: 0;
      padding: 0;
    }

    @media (min-width: 801px) {
      max-width: 107.14286rem;
      padding: 0 30px;
    }

    @media (min-width: 1261px) {
      max-width: 111.42857rem;
      padding: 0 60px;
    }

    .layout {
      width: 100%;
      @media (max-width: 799px) {
        width: 50% !important;
      }

      &.size-w-1-3 {
        width: calc(100% / 3);
      }

      &.size-w-2-3 {
        width: calc((100% / 3) * 2);
      }

      &.r-full {
        @media (max-width: 799px) {
          width: 100% !important;
        }
      }

      &.type-product {
        .products {
          @include product;

          .product {
            @media (max-width: 799px) {
              padding: 1.42857rem !important;
            }
          }
        }
      }

      &.type-image {
        overflow: hidden;

        picture {
          display: flex;
        }

        img {
          transition: all 2s cubic-bezier(.19, 1, .22, 1) 50ms;
        }

        &:hover {
          img {
            transform: scale(1.04);
            opacity: .9;
          }
        }
      }
    }
  }

  .container__button__btn{
    @include btn(#fff, #383838, #2c2c2d);
    max-width: max-content;
    margin: 44px auto 35px;
    display: flex;
  }

  .container__button__ref{
    text-decoration: none; /* no underline */
  }

  .banner-name__image{
    filter: contrast(0.5);
  }

}