.main-mayoristas{
    padding: 0 5%;
    padding-bottom: 25px;
    @media (max-width: 768px) {
      padding:0 3%;
      padding-bottom: 25px;
    }
}

.main-mayoristas__title{ 
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
}

.main-mayoristas__subtitle{
    font-size: 1.72rem;
    font-weight: 300;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    @media (max-width: 768px) {
        font-size: 1rem;
    }
}

// Define variables for common styles
$primary-color: #000000;


.forms-mayoristas{
    padding-top: 50px;
    @media (max-width: 768px) {
        padding-top: 25px;
    }
}
// Base styles for labels and inputs
.forms_label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &__label {
    font-weight: bold;
    padding: 10px 0;
    // margin-bottom: 5px;
    color: $primary-color;
  }

  &__input,
  &__textinput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
}

// Styles for individual form elements
// .forms_label--nombres {
//   .forms_label__input {
//     // Add specific styles for this input if needed
//   }
// }

// .forms_label--mail {
//   .forms_label__input {
//     // Add specific styles for this input if needed
//   }
// }

// .forms_label--telefono {
//   .forms_label__input {
//     // Add specific styles for this input if needed
//   }
// }

// .forms_label--message {
//   .forms_label__textinput {
//     // Add specific styles for this textarea if needed
//   }
// }

// Submit button styles
.forms_label__button {
  background-color: $primary-color;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black
  }
}

// Responsive design
@media screen and (max-width: 768px) {
  .forms_label {
    .forms_label__input,
    .forms_label__textinput {
      font-size: 14px;
    }
  }
}

// Additional responsive styles can be added as needed

// Include other styles and imports as necessary
