

.main-banner{
    position: relative;
    background-color: #C1E2F7;
    z-index: -10;
}

.main-banner__logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;

    @media (max-width: 768px) {
        width: 50%;
    }
}


.winners-banner{
    background-color: #C1E2F7;
    padding: 0 12.5%;
    margin-top: -150px;
    @media (max-width: 768px) {
        margin-top: -50px;
    }
}

.winners-banner__title{
    font-size: 2.3rem;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -3px;
    @media (max-width: 768px) {
        font-size: 3rem;
        letter-spacing: -4px;
    }
}

.winner-banner__prizes{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 30px;
    }
}

.winner-banner__prizes__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap:5%;

    @media (max-width: 768px) {
        width: 70%;
    }
}

.winner-banner__prizes__item__text{
    padding: 20px 30px;
    text-align: left;
    background-color: #1c2228;
    width: 100%;
    letter-spacing: -0.5px;
}

.winner-banner__prizes__item__text__subtitle{
    font-size: 1.3rem ;
    font-weight: 400;
    color:#269b9a;
    margin-bottom: 10px;

}

.winner-banner__prizes__item__text__title{
    font-size: 1.6rem;
    font-weight: 700;
    color:white;
}

.instructions{
    background-color: #1c2228;
    padding: 50px 25%;
    @media (max-width: 768px) {
        padding: 50px 5%;
    }
}

.instructions__title{
    font-size: 2.3rem;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -3px;
    color:white;
}

.instructions__steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.instructions__steps__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    background-color: #11161b;
    border-radius: 10px;
    padding: 30px 10px;
}

.instructions__steps__item__number{
    font-size: 2rem;
    font-weight: 700;
    color:#269b9a;
}

.instructions__steps__item__text{
    font-size: 1.3rem;
    font-weight: 400;
    color:white;
    width: 70%;
    letter-spacing: -0.5px;
    text-align: center;
}

form > p {
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    letter-spacing: -0.5px;
}

.forms__input{
    width: 100%;
    padding: 10px 20px;
    border: 0px;
    background-color: transparent;
    border-bottom: 1px solid #c3c3c3;
    color:#c3c3c3;
    font-size: 1rem;
    font-weight: 400;

    &:active {
        border-bottom: 1px solid white;
        color: white;
    }

    

}


.forms_button{
    width: 70%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FF8500;
    color:white;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover{
        background-color: #ffd7ad;
        color: #FF8500;
        transition: all 0.3s ease-in-out;
    }

    &:active{
        background-color: #ff9f39;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}