

.main-banner{
    position: relative;
}

.main-banner__logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}


.winners-banner{
    background-color: #C1E2F7;
    padding: 0 12.5%;
}

.winners-banner__title{
    font-size: 2rem;
    margin-top: -50px;
    margin-bottom: 50px;
}

.winner-banner__prizes{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.winner-banner__prizes__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap:5%;
}

.winner-banner__prizes__item__text{
    padding: 8px 16px;
    text-align: left;
    background-color: #1c2228;
}

.winner-banner__prizes__item__text__subtitle{
    font-size: 1.3rem ;
    font-weight: 400;
    color:#269b9a;
    margin-bottom: 10px;

}

.winner-banner__prizes__item__text__title{
    font-size: 1.6rem;
    font-weight: 700;
}
