

.main-banner{
    position: relative;
}

.main-banner__logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}


.winners-banner{
    background-color: #b3e3f9;
    padding: 0 5%;
}

.winners-banner__title{
    font-size: 2rem;
    margin-top: -50px;
    margin-bottom: 50px;
}

.winner-banner__prizes{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.winner-banner__prizes__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap:5%;
}

.winner-banner__prizes__item__img{
    width: 25%;
    margin-bottom: 20px;
}