@import "constants";
@import "mixins";
@import "~slick-carousel/slick/slick";

.woocommerce-notices-wrapper {
  display: none;
}

#main {
  & > .product {
    overflow: hidden;

    .summary {
      float: none;
    }
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translateY(-50%) rotate(0);
    transform: translateY(-50%) rotate(0)
  }

  100% {
    -webkit-transform: translateY(-50%) rotate(360deg);
    transform: translateY(-50%) rotate(360deg)
  }
}

#product-header {
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    min-height: calc(100vh - 58px);
    align-items: flex-start;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;

    &:after {
      height: 2.8rem;
      width: 2.8rem;
      border-radius: 2.8rem;
      border: 2px solid;
      border-color: #fff #fff #999 #999;
      content: "";
      display: block;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 50%;
      transform-style: preserve-3d;
      animation: spin .5s infinite cubic-bezier(.69, .31, .56, .83);
      @media (max-width: 768px) {
        top: 20%;
      }
    }
  }

  .background {
    display: flex;
    z-index: 1;

    picture {
      display: flex;
    }

    @media (max-width: 768px) {
      position: absolute;
    }

    img {
      width: 100vw;
    }
  }

  .container {
    position: absolute;
    z-index: 2;
    width: 85%;
    max-width: 111.42857rem;
    margin: 0 7.5%;
    @media (max-width: 768px) {
      position: static;
      width: 90%;
      margin: 0 5%;
    }

    .summary {
      width: 19rem;
      @media (max-width: 768px) {
        width: 100%;
        margin: 0 !important;
      }

      .header-title {
        color: #fff;
        font-size: 3.6vw;
        font-family: $titleFont;
        text-transform: uppercase;
        letter-spacing: -.05em;
        line-height: .85em;
        @media (max-width: 768px) {
          font-size: 7vw;
          text-align: center;
          margin-top: 1.25rem;
        }
      }

      .product-name {
        color: #fff;
        font-size: 1.6vw;
        font-family: $titleFont;
        letter-spacing: -.05em;
        line-height: .85em;
        margin: .4375em 0 .333em;

        sup {
          font-size: .8rem;
        }

        .desktop {
          @media (max-width: 768px) {
            display: none;
          }
        }

        .mobile {
          display: none;
          @media (max-width: 768px) {
            display: block;
            font-size: 4vw;
            text-align: center;
            line-height: .85rem;
            margin: .5rem 0;
          }
        }
      }

      .price {
        color: #fff;
        font-size: 1.1rem;
        font-family: $titleFont;
        letter-spacing: -.05em;
        line-height: .93em;
        margin-bottom: 1.2rem;
        @media (max-width: 768px) {
          font-size: 1rem;
          text-align: center;
        }

        .woocommerce-Price-currencySymbol {
          display: inline-block;
          margin-right: .25em;
        }
      }

      form.cart {
        margin-bottom: 1.42857rem;
        @media (max-width: 768px) {
          margin-top: 100%;
        }

        .single_variation_wrap {
          margin-top: 1rem;
        }

        .Wcmlim_prefloc_box{
          display: none!important;
        }

        .woocommerce-variation-add-to-cart {
          display: flex;
          flex-wrap: wrap;
          @media (max-width: 768px) {
            justify-content: space-between;
          }

          .quantity {
            margin-right: .6rem;
            width: 25%;

            input[type=number] {
              width: 60px;
              height: 100%;
              background: #f6f6f6;
              text-align: center;
              font-size: .8rem;
              font-weight: bold;
              border: none;

              &::-webkit-inner-spin-button,
              &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }
          }

          .single_add_to_cart_button {
            letter-spacing: .05rem;
            width: 70%;
            @include btn(#000, #ededed, #ddd);
          }
        }

        .variations {
          margin-bottom: .2em;

          .label {
            display: none;
          }

          #color {
            width: 100%;
          }

          .reset_variations {
            display: none !important;
          }
        }
      }

      .product-notice {
        color: #fff;
        font-size: .8em;
        padding-bottom: 1.42857rem;

        a {
          color: #fff;
        }
      }

      .add-to-compare {
        border-right: 1px solid #fff;
        padding: 18px;

        button {
          background: none;
          border: none;
          color: #fff;
          font-size: 12px;
          cursor: pointer;
        }
      }

      .extra-links {
        display: flex;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;

        a {
          flex: 1;
          display: flex;
          align-items: center;
          padding: 18px 8px 18px 28px;
          font-size: .8rem;
          color: #fff;
          text-decoration: none;
          line-height: 1.4;

          &:first-child {
            background: url("../assets/tech-specifications.png") no-repeat left center;
            background-size: 16px;
            border-right: 1px solid #fff;
          }

          &:last-child {
            background: url("../assets/reviews.png") no-repeat 20% center;
            background-size: 16px;
            justify-content: center;
          }
        }
      }
    }
  }
}

.product-storytelling {
  position: relative;

  section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    picture {
      display: flex;
      transition: opacity .25s ease-out,
      transform 5s cubic-bezier(.19, 1, .22, 1) 50ms,
      -webkit-transform 5s cubic-bezier(.19, 1, .22, 1) 50ms !important;

      img {
        width: 100vw;
      }
    }

    &.layout-video {
      overflow: hidden;

      &:hover {
        picture {
          transform: scale(1.03);
        }
      }
    }

    &.layout-icons {
      @media (max-width: 768px) {
        flex-wrap: wrap;

        .container {
          position: static;
        }
      }
    }

    &.layout-banner {
      @media (max-width: 768px) {
        .container {
          top: 15vw;

          &.align-mobile-bottom {
            bottom: 15vw;
            top: auto
          }
        }
      }
    }

    .container {
      position: absolute;
      width: 85%;
      max-width: 111.42857rem;
      @media (max-width: 768px) {
        width: 100%;
        text-align: center;
      }
    }

    .content-icons {
      @media (max-width: 768px) {
        padding: 3.1rem 1.25rem;
      }

      .item-icon {
        display: flex;
        align-items: center;
        padding: 1em 0;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          margin-right: 20px;
        }

        span {
          color: #fff;
          font-size: 18px;
          @media (max-width: 768px) {
            font-size: 14px;
          }
        }
      }
    }

    .content-banner {
      display: flex;

      &.align-left {
        justify-content: flex-start;
      }

      &.align-right {
        justify-content: flex-end;
      }

      &.theme-light {
        color: #fff;
      }

      &.theme-dark {
        color: #000;
      }

      .content {
        width: 40%;
        max-width: 500px;
        @media (max-width: 768px) {
          width: 100%;
          max-width: 100%;
          padding: 0 1.25rem;
        }

        .image {
          width: 10.9vw;
          margin-bottom: 2.77vw;
          @media (max-width: 768px) {
            width: 28.75vw;
            margin-bottom: 10vw;
          }
        }

        .title {
          font-size: 60px;
          font-family: $titleFont;
          letter-spacing: -.05em;
          text-transform: uppercase;
          line-height: .85em;
          @media (max-width: 768px) {
            font-size: 9vw;
            text-align: center;
          }
        }

        .text {
          font-size: 1.1rem;
          margin-top: .6em;
          margin-bottom: 1.555rem;
          line-height: 1.4em;
          @media (max-width: 768px) {
            font-size: 14px;
            text-align: center;
            margin-bottom: 0;
          }
        }

        .btn {
          display: inline-block;
          z-index: 2;
          @include btn(#000, #ededed, #ddd);
        }
      }
    }

    .content-model {
      display: flex;
      @media (max-width: 768px) {
        flex-direction: column;
      }

      .image {
        flex: 1;
        display: flex;
      }
    }

    .content-blade {
      padding: 4.5vw 0;
      @media (max-width: 768px) {
        padding: 25vw 0;
      }

      .logo {
        text-align: center;

        img {
          width: 43px;
          height: 54px;
        }
      }

      .text {
        padding: 1.1em 19.79vw;
        font-size: 2.5vw;
        font-family: $titleFont;
        line-height: 1em;
        letter-spacing: -.05em;
        color: #fff;
        text-align: center;
        @media (max-width: 768px) {
          font-size: 7vw;
          padding: .9em 10vw;
        }
      }

      .sign {
        text-align: center;

        img {
          width: 13.88vw;
          @media (max-width: 768px) {
            width: 50vw;
          }
        }
      }
    }

    .list-testimonies {
      overflow: hidden;
      position: relative;

      .slick-arrow {
        position: absolute;
        top: calc(50% - 1rem);
        width: 2rem;
        height: 2rem;
        border: none;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        appearance: none;
        -webkit-appearance: none;
        font-size: 0;
        background: transparent;
        cursor: pointer;

        &.slick-prev {
          left: 7%;
          transform: rotate(-45deg);
        }

        &.slick-next {
          right: 7%;
          transform: rotate(135deg);
        }
      }

      .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 2rem;
        width: 100%;
        @media (max-width: 768px) {
          bottom: 1rem;
        }

        li {
          list-style: none;
          margin: 0 .25rem;

          &.slick-active {
            button {
              background: #fff;
            }
          }

          button {
            width: 12px;
            height: 12px;
            border-radius: 100%;
            border: 1px solid #fff;
            background: transparent;
            font-size: 0;
            cursor: pointer;
            transition: .4s;
          }
        }
      }
    }

    .content-testimony {
      padding: 6.5vw 0;
      @media (max-width: 768px) {
        padding: 10vw 9vw 12vw;
      }

      .text {
        max-width: 42vw;
        text-align: center;
        margin: 0 auto .4em;
        font-size: 3.3333vw;
        line-height: .9em;
        letter-spacing: -.05em;
        color: #fff;
        font-family: $titleFont;
        @media (max-width: 768px) {
          max-width: 100%;
          font-size: 7vw;
        }
      }

      .author {
        color: #fff;
        text-align: center;
        font-size: 1.28571rem;
        line-height: 1.55;
        @media (max-width: 768px) {
          font-size: 1.1rem;
        }
      }
    }

    .content-feature {
      position: absolute;
      width: 30.65vw;
      top: 10.25vw;
      left: 61.59vw;
      @media (max-width: 768px) {
        top: 9vw;
        left: 7vw;
        right: 7vw;
        width: auto;
        text-align: center;
      }

      .title {
        font-size: 60px;
        letter-spacing: -.05em;
        line-height: .85em;
        text-transform: uppercase;
        font-family: $titleFont;
        @media (max-width: 768px) {
          font-size: 9vw;
        }
      }

      .text {
        font-size: 1.2rem;
        line-height: 1.3em;
        margin-top: .6em;
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }

    .list-features {
      position: absolute;
      top: 58vw;
      width: 26.3888vw;
      left: 10.41vw;
      @media (max-width: 768px) {
        top: 237vw;
        left: 10vw;
        right: 10vw;
        width: auto;
        text-align: center;
      }

      .feature {
        margin-bottom: 5.138888vw;

        img {
          height: 5vw;
          display: block;
          margin: 0 auto;
          @media (max-width: 768px) {
            height: 17vw;
          }
        }

        .title {
          margin-top: 1.42857rem;
          letter-spacing: -.05em;
          text-transform: uppercase;
          margin-bottom: .71429rem;
          line-height: .85em;
          font-size: 1.2rem;
          text-align: center;
        }

        .text {
          line-height: 1.3em;
          font-size: .85rem;
          text-align: center;
        }
      }
    }

    .content-video {
      position: absolute;
      width: 100%;
      height: 100%;

      .btn-play {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 10.5vw;
        height: 10.5vw;

        svg {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }

      iframe {
        width: 100%;
        height: 100%;
        display: none;
      }
    }
  }
}

.box-info {
  display: flex;
  align-items: center;
  background: #000;
  position: relative;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }

  .content {
    width: 50%;
    padding: 50px 6.2vw;
    @media (max-width: 768px) {
      width: 100%;
    }

    .info {
      color: #fff;
      border-bottom: 1px solid #fff;
      font-size: 18px;

      &:first-child {
        border-top: 1px solid #fff;
      }

      a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 1.42857rem 2.14286rem 1.42857rem 0;
        position: relative;

        &:hover {
          text-decoration: underline;
        }

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          height: 14px;
          margin-top: -7px;
          width: 14px;
          border-right: 1px solid #fff;
          border-top: 1px solid #fff;
          transform: rotate(45deg);
          right: 20px;
        }
      }

      .title {
        cursor: pointer;
        padding: 1.42857rem 2.14286rem 1.42857rem 0;
        position: relative;

        &.opened {
          &:before {
            transform: rotate(90deg);
          }

          &:after {
            transform: rotate(270deg);
          }
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          width: 1px;
          height: 14px;
          margin-top: -7px;
          transition: all .3s ease-out;
          background: #fff;
          right: 20px;
        }

        &:after {
          transform: rotate(90deg);
        }
      }

      .text {
        display: none;
        padding-bottom: 1.42857rem;
        font-size: .85rem;
        line-height: 1.555;
      }
    }
  }

  .image {
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#reviews {
  background: #000;
  color: #fff;
  padding: 5.7rem 0;
  position: relative;

  #comments {
    width: 85%;
    max-width: 111.42857rem;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-family: $titleFont;
      font-size: 3.2rem;
      letter-spacing: -.05em;
      line-height: .85em;
      text-transform: uppercase;
      @media (max-width: 768px) {
        font-size: 2.2rem;
      }
    }

    .commentlist {
      margin: 2rem auto 0 !important;
      max-width: 48.57143rem;
      padding-left: 20px;
      padding-right: 20px;

      .star-rating {
        float: none !important;
        margin: 0 auto 1em;
      }

      .comment-text {
        margin: 0 !important;
        border: none !important;
      }
    }
  }

  #review_form_wrapper {
    margin: 0 auto;
    max-width: 30rem;
    padding-left: 20px;
    padding-right: 20px;

    #reply-title {
      text-align: center;
      display: block;
      margin-bottom: 2rem;

      #add-review {
        z-index: 10;
        cursor: pointer;
        @include btn(#fff, #383838, #2c2c2d);
      }

      small {
        display: none;
      }
    }

    #commentform {
      display: none;
    }

    .stars {
      a {
        &:before {
          color: #fff;
        }
      }
    }

    label {
      margin-bottom: .5rem;
      display: block;
      text-align: center;
    }

    .comment-form-rating {
      text-align: center;
    }

    textarea,
    input {
      padding: .7775rem;
      color: #383838;
      font-size: .9em;
      width: 100%;

      &:focus,
      &:active {
        outline: none;
      }
    }

    .form-submit {
      text-align: center;

      .submit {
        z-index: 10;
        cursor: pointer;
        @include btn(#fff, #383838, #2c2c2d);
      }
    }

    .comment-form-cookies-consent {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 1.5em !important;

      input {
        width: auto;
        margin-right: .75rem;
      }

      label {
        text-align: left;
        margin-bottom: 0;
      }
    }
  }
}

.select2-container {
  &.select2-container--open {
    .select2-selection {
      &:before {
        transform: rotate(90deg);
      }

      &:after {
        transform: rotate(270deg);
      }
    }
  }
}

.select2-selection {
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    transition: all .3s ease-out;
    background: #000;
    right: 30px;
  }

  &:after {
    transform: rotate(90deg);
  }

  &:focus {
    outline: 0;
  }
}

.select2-container--default .select2-selection--single {
  border-radius: 0 !important;
  height: 50px !important;
  border: none !important;
}

.select2-selection__rendered {
  line-height: 50px !important;
}

.select2-dropdown {
  border: none !important;
  border-radius: 0 !important;
}

.select2-selection__arrow {
  display: none;
}

.select2-results__option,
.select2-selection__rendered {
  display: flex !important;
  align-items: center;
  padding: 0 10px !important;
  height: 50px !important;
  line-height: 50px !important;
  border-top: 1px solid #ddd !important;
  transition: .25s ease-out;
  font-size: .9rem !important;
  color: #525252 !important;

  &.select2-results__option--highlighted {
    border-color: #ddd #ededed #ededed !important;
    background: #ededed !important;
  }

  img {
    height: 40px !important;
    mix-blend-mode: multiply;
    margin-right: 1rem;
  }
}

.woocommerce-noreviews {
  visibility: hidden;
}

body.layout-2 {
  #product-header {
    align-items: flex-start;
    background: #000;

    .background-slider {
      z-index: 0;
      position: fixed;
      width: 100vw;
      height: 100vh;
      @media (max-width: 768px) {
        position: absolute;
        top: 7.14286rem;
      }

      picture {
        display: flex;

        img {
          width: 100%;
        }
      }

      .slick-prev {
        display: none !important;
      }

      .slick-next {
        border-radius: 50%;
        background: #fff;
        right: 1.42857rem;
        height: 50px;
        width: 50px;
        margin-top: -2.14286rem;
        padding: .71429rem;
        transition: .25s ease-out;
        position: absolute;
        display: block;
        line-height: 0;
        font-size: 14px;
        cursor: pointer;
        color: transparent;
        top: 50%;
        transform: translate(0, -50%);
        border: none;
        outline: 0;

        &:hover {
          right: .71429rem;
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 1.78571em;
          border-top: 1px solid #000;
          border-right: 1px solid #000;
          height: .5em;
          width: .5em;
          transform: translate3d(calc(-50% - 3px), -50%, 0) rotate(45deg);
        }
      }
    }

    .container {
      position: static;
      width: 40%;
      max-width: 111.42857rem;
      padding: 25vh 60px 14.28571em;
      margin: 0;
      min-height: 100vh;
      @media (max-width: 768px) {
        width: 100%;
        padding: 0;
        background: transparent !important;
      }

      .summary {
        width: 27.85714em;
        font-size: 14px;
        @media (max-width: 768px) {
          width: 100%;
          padding: 1.42857em 20px 0;
        }

        .header-container {
          @media (max-width: 768px) {
            height: 128.75vw;
          }
        }

        .header-title {
          font-size: 3.85714em;
          @media (max-width: 768px) {
            font-size: 7vw;
          }
        }

        .product-name {
          font-size: 2em;
          @media (max-width: 768px) {
            margin-top: .4375em;
            margin-bottom: .333em;
            font-size: 4vw;
          }
        }

        .price {
          font-size: 1.28571em;
          @media (max-width: 768px) {
            font-size: 1em;
          }
        }

        .woocommerce-variation-availability {
          margin-bottom: .5em;
        }

        form.cart {
          @media (max-width: 768px) {
            margin-top: 0;
          }



          .woocommerce-variation-add-to-cart {
            .quantity {
              display: none !important;
            }

            .single_add_to_cart_button {
              width: 100%;
            }
          }
        }
      }


      .more-notice{
        .more-notice__text{
          font-size: 1rem;
        }
        .more_notice__button{
          color:black;
          background-color: white;
          padding: 5px 15px;
        }
      }

      .list-swatches {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 14px;
        margin-top: 1.42857em;

        .swatch {
          width: calc(50% - 5px);
          margin-bottom: 14px;
          background: #767676;
          display: block;
          padding: 25px;
          overflow: hidden;
          color: #000;
          text-align: center;
          transition: .15s ease;
          cursor: pointer;
          font-size: 14px;

          &:hover {
            background: #b1b1b1;
          }

          &.selected {
            background: #fff;
          }

          img {
            display: flex;
            height: 2.14286em;
            width: 2.14286em;
            margin: 0 auto .78571em;
            mix-blend-mode: multiply;
          }

          span {
            font-size: 12px;
            text-transform: none;
          }
        }
      }

      table.variations {
        display: none;
      }

      .tech-specs {
        width: 150%;
        @media (max-width: 768px) {
          width: 100%;
        }

        .spec {
          margin: 2em 0;
          font-size: 18px;
          display: flex;
          align-items: center;
          @media (max-width: 768px) {
            font-size: 14px;
          }

          img {
            width: 40px;
            margin-right: 20px;
          }

          span {
            color: #fff;
          }
        }
      }

      .more-tech-specs {
        color: #fff;
        padding-left: 60px;

        .title {
          position: relative;
          cursor: pointer;
          display: block;
          padding: 1.42857em 2.14286em 1.42857em 0;
          font-size: 14px;
          font-weight: 700;

          &:before,
          &:after {
            background: #fff;
            right: 20px;
            content: '';
            position: absolute;
            top: 50%;
            width: 1px;
            height: 14px;
            margin-top: -7px;
            transition: all .3s ease-out;
          }

          &:after {
            transform: rotate(90deg);
          }

          &.opened {
            &:before {
              transform: rotate(90deg);
            }

            &:after {
              transform: rotate(270deg);
            }
          }
        }

        .text {
          padding: 0 2.14286rem 0 0;
          line-height: 1.555;
          display: none;

          @media (max-width: 768px) {
            padding-bottom: 1.8em;
          }
        }
      }
    }
  }
}

#losm,
#globMsg,
.woocommerce-variation-availability,
.wc_locmap.fa-map-marker-alt,
.Wcmlim_box_header,
.Wcmlim_sloc_label {
  display: none !important;
}

.Wcmlim_prefloc_box {
  .select2-container {
    width: 100% !important;
  }
}

.Wcmlim_container.wcmlim_product {
  width: 100%;
  color: #fff;
  margin: 1rem 0;
  .no-stock__container{
    font-size: 1.5rem;
    font-weight: 800;
    padding: 0 0.5rem;
    color: white
  }
}

.wcmlim_cart_valid_err {
  border: none !important;
  background: none !important;
  color: #fff !important;
  padding: 0 !important;
  font-weight: 300 !important;
  font-size: 90%;
  display: flex;
}

.wcmlim_validation_clear_cart {
  background: #fff;
  color: #fff !important;
  cursor: pointer;
  border: none;
}