@import "constants";
@import "mixins";

#primary {
  width: 85%;
  max-width: 111.42857rem;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 95%;
  }
}

.page-title {
  text-align: center;
  text-transform: uppercase;
  font-family: $titleFont;
  padding: 1.5rem 0;
  font-size: 3.2em;

  @media (max-width: 768px) {
    font-size: 2.25rem;
    padding: 1.5rem 0;
  }
}

#bar-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .category-link {
    padding: 0 .85714rem 0 .71429rem;
    flex: 1;

    @media (max-width: 768px) {
      margin-bottom: .6rem;
    }

    .btn-link {
      display: block;
      @include btn(#000, #ededed, #ddd);

      &.count {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .woocommerce-ordering {
    float: none;
    flex: 1;
    padding: 0 .85714rem 0 .71429rem;
    margin: 0;

    select {
      appearance: none;
      -webkit-appearance: none;
      width: 100%;
      height: 50px;
      border: none;
      border-bottom: 1px solid #000;
      border-radius: 0;
      background: #fff;
      padding: 0 10px;
      text-transform: uppercase;
      background: url($chevronDown) no-repeat right 1rem center;
      background-size: 16px;
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.products {
  @include product;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    justify-content: space-between;
    align-items: center;
  }
}

.woocommerce-pagination {
  margin-bottom: 1rem;
  width: 100%;

  ul {
    margin: 0 !important;
    border: none !important;
    display: flex;

    @media (max-width: 768px) {
      justify-content: center;
    }

    li {
      border: none !important;

      .page-numbers {
        display: none !important;

        &.prev,
        &.next {
          display: block !important;
          margin: 0 .25rem;
          @include btn(#fff, #383838, #2c2c2d);
        }
      }
    }
  }
}

.woocommerce .banner_menu_shop {
  width: 100%;
  height: 250px;
}

.woocommerce .banner_menu_shop .banner_menu_shop__img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.shop-features{
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 5px 5%;
  }
}

.shop-features__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap:15px;
  
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
   }
}

.shop-features__container__info{
  text-align: center;
}

.shop-features__container__info__title{
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.shop-features__container__info__subtitle{
  font-size: 0.7rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.filter{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 20px 0;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.filter__section__button{
  border-style: none;
  background-color: transparent;
  color: rgb(80, 80, 80);
  border-top: 1.5px solid transparent;
  border-bottom: 1px solid rgb(80, 80, 80);
  padding: 10px 20px;
  margin: 0 -5px;
  cursor: pointer;
  flex-grow: 1;
  transition: 0.3s;
  
  &:hover{
    color: white;
    font-weight: 700;
    background-color: black; 
    transition: 0.3s;
  }
}

.filter__section__button--active{
  color: black;
  border-top: 0px solid transparent;
  border-bottom: 2.5px solid black;
  font-weight: 700; 

}

.filter__section__button--ofertas{
  color: red;
}

.filter__section__button--ofertas--active{
  border-bottom: 2.5px solid black;
  font-weight: 700; 
}

.slick-dots {
  position: absolute;
  bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  li {
    list-style: none;
    margin: 0 .25rem;

    button {
      display: block;
      width: 1.75rem;
      height: 1.75rem;
      background: #ddd;
      border-radius: 100%;
      font-size: 0;
      border: none;
      transition: .2s ease-in;
    }

    &.slick-active {
      button {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}