@import "constants";
@import "mixins";

// #primary {
  // width: 85%;
  // max-width: 111.42857rem;
  // margin: 0 auto;

  // @media (max-width: 768px) {
  //   width: 95%;
  // }
// }

.page-title {
  text-align: center;
  text-transform: uppercase;
  font-family: $titleFont;
  padding: 1.5rem 0;
  font-size: 3.2em;
  background-color: black;
  color: white;

  @media (max-width: 768px) {
    font-size: 2.25rem;
    padding: 1.5rem 0;
  }
}

#bar-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .category-link {
    padding: 0 .85714rem 0 .71429rem;
    flex: 1;

    @media (max-width: 768px) {
      margin-bottom: .6rem;
    }

    .btn-link {
      display: block;
      @include btn(#000, #ededed, #ddd);

      &.count {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .woocommerce-ordering {
    float: none;
    flex: 1;
    padding: 0 .85714rem 0 .71429rem;
    margin: 0;

    select {
      appearance: none;
      -webkit-appearance: none;
      width: 100%;
      height: 50px;
      border: none;
      border-bottom: 1px solid #000;
      border-radius: 0;
      background: #fff;
      padding: 0 10px;
      text-transform: uppercase;
      background: url($chevronDown) no-repeat right 1rem center;
      background-size: 16px;
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.products {
  // @include product;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;  

  @media (max-width: 768px) {
    justify-content: center;
    align-items: start;
    gap: 0px
  }
}

.woocommerce-pagination {
  margin-bottom: 1rem;
  width: 100%;

  ul {
    margin: 0 !important;
    border: none !important;
    display: flex;

    @media (max-width: 768px) {
      justify-content: center;
    }

    li {
      border: none !important;

      .page-numbers {
        display: none !important;

        &.prev,
        &.next {
          display: block !important;
          margin: 0 .25rem;
          @include btn(#fff, #383838, #2c2c2d);
        }
      }
    }
  }
}

.woocommerce .banner_menu_shop {
  width: 100%;
  height: 250px;
}

.woocommerce .banner_menu_shop .banner_menu_shop__img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.shop-features{
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px 15%;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

.shop-features__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  // width: 300px;
  gap:15px;
  
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
   }
}

.shop-features__container__info{
  text-align: center;
}

.shop-features__container__info__title{
  font-size: 0.8rem;
  font-weight: 700;
  // margin-bottom: 1rem;
  @media (max-width: 768px) {
    font-size: 1rem;
   }
}

.main-shop-menu{
  display: flex;
  gap: 25px;
  padding-top: 50px;
  width: 85%;
  margin: 0 auto;
  
  @media (max-width: 1280px) {
    flex-direction: column;
    gap:10px;
    width: 100%;
    padding: 0 20px;
    padding-top: 30px;
  }
}

.filter{
  width: 15%;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  gap:20px;
  @media (max-width: 1280px) {
    width: 100%;
    padding: 0 10px;
  }
}

.filter-categories{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.filter-categories__title{
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 25px;
  @media (max-width: 1280px) {
    padding: 10px;
  }
}

.filter-categories__options{
  display: flex;
  flex-direction: column;
  @media (max-width: 1280px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.filter__section__button{
  cursor: pointer;
  border: 0px;
  padding: 9px;
  font-weight: 700;
  font-size: 0.9rem;
  --c: black; /* the color */
  color: transparent;
  background: 
    linear-gradient(90deg,#fff 50%,var(--c) 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) 100% no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;

  &:hover{
    --_p: 100%
  }	
  @media (max-width: 1280px) {
    flex-grow: 1;
    width: 50%;
  }
}

.filter__section__button--active{
  font-weight: 700;
  color: white;
  background-color: black;
}

.filter__section__button--ofertas{
  --c: #C5312D;

}

.filter__section__button--ofertas--active{
  font-weight: 700; 
}

.slick-dots {
  position: absolute;
  bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  li {
    list-style: none;
    margin: 0 .25rem;

    button {
      display: block;
      width: 1.75rem;
      height: 1.75rem;
      background: #ddd;
      border-radius: 100%;
      font-size: 0;
      border: none;
      transition: .2s ease-in;
    }

    &.slick-active {
      button {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}


.shop-store{ 
  width: 85%;

  @media (max-width: 1280px) {
    width: 100%;
  }
}

#bar-menu{
  display: none;
}

// Style each individual product
.product {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-decoration: none;
  color:black;
  font-family: "Helvetica Neue LT", sans-serif;
  width: calc(25% - 30px); // Set the width to one-third of the container with some spacing
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;
  margin: 0!important;

  @media (max-width: 768px) {
      width: calc(45% - 10px); 
      padding: 20px!important;
      justify-content: start ;
      height: 100%;
      border: 0.1px solid #d3d3d3!important;
      border-radius: 0px;
      flex-grow: 1;
    }
  
  @media (max-width:520px){
    height: 320px;
  }

  @media (max-width: 400px) {
    height: 280px;
  }

  &:hover{
      transform: scale(1.05);
      border: 1px solid black;

      @media (max-width: 768px) {
          transform: scale(1);
          border: 1px solid transparent;
      }
  }
}

.product-ref{
  list-style: none;
  color:black;
}

.product-image{
  padding: 15px;
  width: 100%; 
  height: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  @media (max-width: 768px) {
      font-size: 0.8rem;
      padding: 0;
  }
}

.product-info{
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  padding-bottom: 15px;
  @media (max-width: 768px) {
      padding: 0;
  }
}

.product-name{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;

  @media (max-width: 768px) {
      font-size: 0.8rem;
  }
}

.product-category{
  font-size: 0.9rem;
  font-style: italic;
  @media (max-width: 768px) {
      font-size: 0.8rem;
      display: none;
  }
}

.product-price{
  display: flex;
  justify-content: flex-start;
  align-items: end;
  gap: 10px;
  margin-top: 10px;


  .product-price__only{
      font-size: 1.2rem;
      font-weight: bold;
      margin-right: 5px;
      @media (max-width: 768px) {
          font-size: 0.8rem;
      }
  }

  .product-price__after{
      font-size: 1.2rem;
      font-weight: bold;
      color: #C5312D;
      @media (max-width: 768px) {
          font-size: 0.8rem;
      }
  }

  .product-price__before{
      font-size: 0.75rem;
      font-weight: bold;
      color: black;
      text-decoration: line-through;
      @media (max-width: 768px) {
          font-size: 0.5rem;
      }
  }

}

.banners{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-bottom: 50px;
  gap:20px;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}

.shop_banner{
  width: 100%;
  display: flex;
  justify-content: center;
  > img{
    border-radius: 50px;

    @media (max-width: 768px) {
      width: 80%;
    }
  }
}

.shop_banner--compras{
  @media (max-width: 768px) {
    display: none;
  }
}

.main-shop__banner{ 
  background: url(../assets/BANNER_WEB_COMPRAS.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    height: 300px;
    align-items: start;
    width: 100%;
    line-height: 1.6;
  }

  @media (max-width: 500px){
    height: 150px;
  }
}



.main-shop__title{
  font-size: 2.4rem;
  font-weight: 800;
  color:black;
  text-align: center;
  width: 30%;
  letter-spacing: -2px;
  margin:auto;

  @media (max-width: 1600px) {
    font-size: 2rem;
  }

  @media (max-width: 1200px) {
    font-size: 1.7rem;
    line-height: 1.7;
    width: 75%;
  }

  @media (max-width: 768px) {
    font-size: 2.3rem;
    padding-top: 30px;
    width: 85%;
  }

  @media (max-width: 500px) {
    font-size: 1.2rem;
    padding-top: 0px;
    width: 85%;
  }
}

.main-shop__feature{
  color: #ff7e00;
  background-color: white;
  padding: 5px 15px;
  border-radius: 20px;
}